@charset "utf-8";

.btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

#buttons {
    margin-top: 30px;
}

#buttons > .btn {
    margin-right: 15px;
}

.toggle {
    margin-bottom: 10px;
}

.toggler {
    font-size: 20px;
}

.buttons .btn {
    padding: 2px 9px;
}

.buttons > form {
    display: inline;
}

a:link {
    text-decoration: none;
}

a .glyphicon .glyphicon-remove {
    color: red;
}

.center {
    margin-left: auto;
    margin-right: auto;
    float: none;
    text-align: center;
}
.form-group.required .control-label:after {
    content:" *";
    color:red;
}

.main {
    padding-top: 10px;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 10px;
    background-color: white;
}

.col-md-7 {
    border-top: thin groove lightgray;
    border-left: thin groove lightgray;
}

body {
    background-color: lightgray;
}